<header id="app-bar" class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        {# Main Menu Icon/Button #}
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a href="#"
                class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
        </section>
    </div>
</header>


{# Side Nav Drawer #}
<div class="mdc-drawer mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__content">
        <nav id="tab-nav" class="mdc-list">
            {# Real Time #}
            <a class="mdc-list-item"
                    href="#chart--real-time-container">
                <i class="mdc-list-item__graphic mdi mdi-chart-timeline"></i>
                <span class="mdc-list-item__text">
                    Real-Time
                </span>
            </a>
            <hr class="mdc-list-divider">

            {# User Activity #}
            <a class="mdc-list-item"
                    href="#activity--chart-container">
                <i class="mdc-list-item__graphic mdi mdi-chart-areaspline"></i>
                <span class="mdc-list-item__text">
                    Activity
                </span>
            </a>
        </nav>
    </div>
</div>